<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>

    <style media="screen">
      body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      #message { background: white; max-width: 500px; margin: 100px auto 16px; padding: 32px 24px 16px; border-radius: 3px; }
      #message h3 { color: #888; font-weight: normal; font-size: 16px; margin: 16px 0 12px; }
      #message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }
    </style>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
  </head>
  <body>
    <div id="message">
      <h2>ODSI - Gestion de Tiempos</h2>
      <h1>Iniciar sesión</h1>
      
      <!-- Formulario -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="email_text" name="email_text" type="text" class="validate">
              <label for="email_text">Correo electronico</label>
            </div>
            <br/>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password_text" name="password_text" type="password" class="validate">
              <label for="password_text">Contraseña</label>
            </div>
          </div>
          <a class="btn waves-effect waves-light" id="login" name="action" style="float: right">Entrar</a>
        </form>
      </div>
      <h3>¿Qué no tienes cuenta?</h3>
      <a href="/registro">Regístrate</a>

      <!-- Otras opciones -->
      <!--<hr><br>
      <center>
        <div class="row">
          <div class="col s12">
            <a id="boton_google" class="btn red darken-1" style="width: 60%">
              <i class="fa fa-google"></i> 
              <text>Iniciar con Google</text>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <a class="btn indigo darken-2" style="width: 60%">
              <i class="fa fa-facebook"></i>
              <text>Iniciar con Facebook</text>
            </a>
          </div>
        </div>
      </center> -->

    </div>
  </body>


<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDoWGVZpr_u5SKVQk3zNaQ-t98i0JWdzvw",
    authDomain: "odsi-gestiontiempos.firebaseapp.com",
    databaseURL: "https://odsi-gestiontiempos.firebaseio.com",
    projectId: "odsi-gestiontiempos",
    storageBucket: "odsi-gestiontiempos.appspot.com",
    messagingSenderId: "921623046756"
  };
  firebase.initializeApp(config);
</script>

<script type="text/javascript">
  
  $(document).ready(function(){

    firebase.auth().onAuthStateChanged(user => {
      if(user){
        console.log("Esta el usuario")

        // Get user idToken and send it to the BackEnd
        firebase.auth().currentUser.getIdToken(true).then(function(idToken){
          $.post("/", {user: idToken, email: firebase.auth().currentUser.email})
            .done(function(){
              document.location.replace('/inicio');
            })
            .fail(function(){
              console.log("Mal en token")
            });
        }).catch(function(error){
          console.log(error)
        })

      }
      else
        console.log("No esta")
    });


    $('#login').on('click', function(){
        var email = $('#email_text').val();
        var pass = $('#password_text').val();

        firebase.auth().signInWithEmailAndPassword(email, pass).catch(function(error){
          console.log("Error en login");
          console.log(error);
        });
      });

    });
    

</script>

</html>
