<!-- partials/navbar.ejs -->

<nav style="margin-bottom: 20px">
	<div class="nav-wrapper teal lighten-2">
	    <a href="/inicioUsuario" class="brand-logo" style="margin-left: 15px">Gestor de Tiempos</a>
	    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href="/about">
					<i class="material-icons" alt="Acerca de la herramienta">info</i>
				</a>
			</li>
	       	<li>
	       		<a href="/logout">
	       			<i class="material-icons" alt="Cerrar sesion">exit_to_app</i>
	       		</a>
	       	</li>
	   	</ul>
	</div>

	<!-- Mobile/Small screen -->
	<ul class="sidenav" id="mobile-demo">
    	<li><a href="/about">¿Cómo funciona?</a></li>
    	<li><a href="/logout">Cerrar sesión</a></li>
  	</ul>

</nav>

<script type="text/javascript">
	var element = document.querySelector('.sidenav');
	var instance = M.Sidenav.init(element, );

	$(document).ready(function(){
		$('.sidenav').sidenav();
	})

	$(window).resize(function(){
		if($(window).width() < 600){
			$('.brand-logo').css("font-size", "15px")
		}else{
			$('.brand-logo').css("font-size", "2.1rem")
		}
	})

</script>